.copywite {
    background-color:rgb(213, 170, 109) ;
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: 400;
}