/* Logo Style */
.logo {
    width: 40px;
    height: 40px;
}

/* Center Navigation Styling */
.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Contact Number Styling */
.contact-number {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
}



/* carousel styling */
.carousel {
    margin-top: 0;
}

@media (max-width:992px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1050;
        background-color:#f8f9fa; ;
    }
    
    main {
        margin-top: 0; 
    }
}


/* index about page css   */

.about-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}
.about-section h2 {
    font-weight: bold;
    margin-bottom: 10px;
}
.about-section h5 {
    color: gray;
    margin-bottom: 30px;
}
.about-section img {
    max-width: 100%;
    border-radius: 10px;
}
.about-section ul {
    list-style: none;
    padding: 0;
}
.about-section ul li {
    margin-bottom: 10px;
}
.about-section ul li span {
    font-weight: bold;
}
.social-icons i {
    font-size: 18px;
    margin-right: 15px;
    color: #333;
    transition: color 0.3s;
}
.social-icons i:hover {
    color: #007bff;
}




/* slider on index page css  */
.bnrslide {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    align-items: center;
    position: relative;
    animation: scroll 20s linear infinite;
  }
  
  .bnrslide .bnrimgitem {
    flex-shrink: 0;
    min-width: 180px;
    height: 180px;
    border-radius: 25px;
    margin-right: 10px;
    transition: transform 0.3s ease;
  }
  
  .bnrslide .bnrimgitem:hover {
    transform: scale(1.1);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @media (max-width: 768px) {
    .bnrslide .bnrimgitem {
      min-width: 120px;
      height: 120px;
    }
  }
  


