@media (max-width:600px) {
    main {
        position: relative;
        top: -110px;
    }
    /* to hode the bar below title */
    .main .container-fluid .row .col-md-12 .bar {
        display: none;
    }
    .container-fluid .image .col-md-12 .text{
        height: 40px;
        width: 300px;
        /* background-color: aqua; */
        text-align: center;
        font-size: 32px;
        font-weight: 400;
    }
    .container-fluid .image .col-md-12 img{
        background-position: center center;
        position: absolute;
        height: 70%;
        width: 100%;
    }
    section .container {
        position: relative;
        top: -100px;
    }
}
